* {
    margin: 0;
    font-family: Arial;
    
}
    body { background-image: url("body.jpg");
    height: 1000px;
width: 100%;
background-size: cover;
}
.nav {height: 100px;
color: antiquewhite;
display: flex;
    justify-content: space-evenly;
align-items: center;
text-decoration: none;
background-color: aliceblue;
color: blue;}
.title1 {font-size: 3rem;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
display: flex;
justify-content: space-evenly;
align-items: center;
width: 80%;
height: 100%;
}
.content {height: 100%;}
.options1 {
    height: 100px;
    width: 100%;
    background-color: skyblue;
    color: black;
    border: 2px solid black;
    display: flex;
    justify-content: space-evenly;
align-items: center;}

a {text-decoration: none;}
